<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="details">
        <img width="100" src="/images/Screenshot 2024-06-26 193637.png" alt="">
        <%= detailProduct.name %>

    </div>
</body>
</html>